.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-field{
  margin:15px 2px;
}
.error{
  color: red;
    margin: 0;
    font-size: 13px;
}
button{
  background-color: #48b4e0;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  font-weight: 500;

}

.container{
  align-items: center;
}
.submit-msg{
  color:green;
}
.logout-btn{
  position: absolute;
}
.dashboard-heading{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.create-btn{
  height: 50px;
}
.create-btn1{
  width:100px;
  float: right;
  border: 1px solid #00eeff;
  overflow: hidden;
  margin-top: 10px
}
.logout-btn1{
  margin-left: 1240px;
  border: 1px solid #00eeff;
  overflow: hidden;
  border-radius: 25px;
  height: 30px;
  margin-top: -50px;
}
/* .show-date{
  width:100px;
} */
.datepicker input {
  width:  39%;
}
.forgotpass{
  margin-top: 30px;
  padding-top: 15px;

}
.forgotbtn{
  width: 150px;
}
.forgotpara{
  font-size: 12px;
}
.resetpass{
  margin-top: 30px;
  padding-top: 15px;

}
.resetbtn{
  width: 150px;
}
.resetpara{
  font-size: 12px;
}
.eye{
  position: absolute;

}
.eye:active{
  color: rgb(124, 189, 226);
  cursor: pointer;
}
#pass-wrapper{
  position: relative;

}
#eye-icon{
  margin-left: -20px;
}

.menu-text{
  color:white;
  margin-left: 50px;
}

#navmob{  
color: white;
margin-left: 581px;
font-size: 13px;
}

#navemail{  
color: white;
font-size: 13px;
}
.main-form{
  margin-top: 35px;
}
.form{
  background-color: rgb(197, 194, 194);
  width: 18rem;
    height: 18rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.reginput{
  /* margin-top: 3rem; */
}
.regheading{
  padding-top: 15px;
} 